APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=turbo_todos_app
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

LARAVEL_WEBSOCKETS_PORT=6003

# Fake Credentials. Should work with Laravel WebSockets, locally.
PUSHER_APP_ID=81f97b0
PUSHER_APP_KEY=81f97b00136900c1ac601d5a05d9aea0861c9b44
PUSHER_APP_SECRET=92fbc3c616efd02ae33a1878864f14fee080fe9c
PUSHER_APP_CLUSTER=us2
PUSHER_APP_HOST=websockets.test
PUSHER_FRONTEND_HOST="localhost"
PUSHER_FRONTEND_PORT="${LARAVEL_WEBSOCKETS_PORT}"
PUSHER_FRONTEND_USE_SSL=false
